<!DOCTYPE html>
<html>
  <head>
  <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

  <!-- Included Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300,100' rel='stylesheet' type='text/css'>

  <!-- CSS Files comes here -->
  <link href="{{site.baseurl}}/css/grid12.css" rel="stylesheet" media="screen">                                 <!-- Grid System -->
  <link href="{{site.baseurl}}/css/james_typography.css" rel="stylesheet" media="screen">                       <!-- James Framework - TYPOGRAPHY -->
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet" media="screen">                                   <!-- Main CSS file -->
    <link href="{{site.baseurl}}/css/color_scheme_light.css" rel="stylesheet" media="screen">                     <!-- Color scheme (dark/light)-->
  <link href="{{site.baseurl}}/css/colors/color_palette_indigo.css" rel="stylesheet" media="screen">              <!-- Color palette -->
  <link href="{{site.baseurl}}/css/rapid-icons.css" rel="stylesheet" media="screen">                            <!-- James Framework - ICONS -->
  <link href="{{site.baseurl}}/css/responsivity.css" rel="stylesheet" media="screen">                           <!-- Responsive Fixes -->
  <link href="{{site.baseurl}}/css/animate.css" rel="stylesheet" media="screen">                                <!-- Animate - animations -->
  <link href="{{site.baseurl}}/css/nivo-lightbox.css" rel="stylesheet" media="screen">                          <!-- Lightbox Styles -->
    <link href="{{site.baseurl}}/css/nivo_lightbox_themes/default/default.css" rel="stylesheet" media="screen">   <!-- Lightbox Styles -->
    <link href="{{site.baseurl}}/css/owl.carousel.css" rel="stylesheet" media="screen">                           <!-- Owl - Carousel -->
    <link href="{{site.baseurl}}/css/owl.theme.css" rel="stylesheet" media="screen">                           <!-- Owl - Carousel -->
    <link href="{{site.baseurl}}/css/owl.transitions.css" rel="stylesheet" media="screen">                        <!-- Owl - Carousel -->

  <!-- Modernizer and IE specyfic files -->
  <script src="js/modernizr.custom.js"></script>

  <meta name="description" content="{{site.description}}"/>
  <meta name="author" content="{{site.author}}"/>
  <link rel="author" href="humans.txt"/>
  <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.baseurl}}/feed.xml" />

  </head>

  <body>

  <div id="preloader_container">

      <!-- Preloader Screen -->
    <header class="preloader_header">
          <div class="preloader_loader">
              <svg class="preloader_inner" width="60px" height="60px" viewBox="0 0 80 80">
                  <path class="preloader_loader_circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
                  <path id="preloader_loader_circle" class="preloader_loader_circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
              </svg>
          </div>
      </header>
      <!-- //Preloader Screen -->


    <!-- Fullscreen homepage -->
    <section class="hero_fullscreen background_solid">


      <!-- Logo and navigation -->
        <div class="container" >
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 outher">
              <img src="images/logo.png" alt="logo" class="logo inner"/>
              <div class="inner float-right"><p >Call us <strong>1.800.439.7656</strong></p></div>
            </div>
          </div>
      </div>
      <!-- //Logo and navigation -->


      <!-- Main content -->
        <div class="container align-center" id="main_content">
        <div class="content_container row" >
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  home_content">
            <h2 class="slogan">Your team. Energized.</h2>
            <h6>
              Bring your people together and learn great things.  Surprise yourselves what you can do.
              <br class="visible-lg visible-md">
              Host a brown bag lunch.
            </h6>

            <!-- CTA Button-->
            <div class="cta_button_area">
              <div><button class="btn waves-effect waves-light subscribe-submit">The First One's On Us</button></div>
            </div>
            <!-- //CTA Button-->

            <div class="home_mockups">
              <img src="images/home_mockups_3.png" alt="" class="img_responsive home_mockups_3"/>
              <img src="images/home_mockups_2.png" alt="" class="img_responsive home_mockups_2"/>
              <img src="images/home_mockups_1.png" alt="" class="img_responsive home_mockups_1"/>
            </div>

          </div>
        </div>
      </div>
      <!-- //Main content -->

    </section>
    <!-- //Homepage -->

    <section id="long_content" class="subsection">
      <div class="container">
        <div class="row">
          <p>
            Your development team is working hard, getting features delivered, but you can see the fatigue in their eyes.
            They're not worn out, not really, but they've been working on some of the same things for a while now, facing
            some of the same customer issues.
            When they first started they were excited, fearless. You saw some of that when you hired them.
          </p>
          <p>
            It's OK, it happens to all of us.
          </p>
          <h4>
            So you want to do something for your team but ironically it sometimes comes off as micromanagement.
          </h4>
          <p>
            One things that works well for developers to get out of this funk and work together again is to have
            them build pride in their work, learn new things, teach each other, and be part of something bigger
            than just their job.
          </p>
          <p>
            At Get Data Chops, we get that fire started and keep it burning. We come in with presentations during lunch,
            you provide some food, we get your team learning. We offer presentations on building data-intensive
            features in your applications, making business cases for projects, building data pipelines or deep
            learning models. Whatever gets them excited, we get them started.
          </p>
        </div>
      </div>
    </section>

    <!-- Subsection: More info -->
    <section id="more_info" class="subsection darker_bg align-center ">
      <div class="container">
        <div class="row">

          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="iconbox content_anim1">
              <div data-icon="&#xe2eb;" class="iconbox_icon"></div>
              <div class="iconbox_content">
                <h5>Empower Your Team</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="iconbox content_anim2">
              <div data-icon="&#xe061;" class="iconbox_icon"></div>
              <div class="iconbox_content">
                <h5>Instill Confidence</h5>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu pariatur.</p>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="iconbox content_anim3">
              <div data-icon="&#xe07b;" class="iconbox_icon"></div>
              <div class="iconbox_content">
                <h5>Level Up</h5>
                <p>Excepteur sint occaecat cupidatat non proptate velit ident, sunt in culpa qui officia.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- //Subsection: More info -->


    <!-- Subsection: Features -->
    <section class="subsection" id="features">
      <div class="container">
        <div class="row feature_row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 content_anim4">
            <h3>This is your team and they're awesome!</h3>
            <p>Your team rocks harder than you know.</p>
            <p>
             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 align-center content_anim5 deatures_image" >
            <img src="images/excitement.jpg" alt="" class="img_responsive"/>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 align-center content_anim6 features_image" >
            <img src="images/feature_mockup_2.png" alt="" class="img_responsive"/>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 content_anim7">
            <h3>Work around your schedule, your projects.</h3>
            <p>This is about you and your team.  We can be there talking about testing when it's time to stabilize your product or recommendation engines when it's time to engage more with your customers.</p>
            <p>What you most could use, right when you can use it.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- //Subsection: Features -->


    <!-- Subsection: Newspapers -->
    <section id="newspapers" class="subsection darker_bg">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-center">
            <div class="intro content_anim8">
              <h3>Some of our favorite people work with Get Data Chops!</h3>
              <p>It's a privilege to work with these great companies.</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 reviews_logo content_anim9"><img src="images/reviews_logos/logo1.png" alt=""></div>
          <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 reviews_logo content_anim10"><img src="images/reviews_logos/logo2.png" alt=""></div>
          <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 reviews_logo content_anim11"><img src="images/reviews_logos/logo3.png" alt=""></div>
          <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 reviews_logo content_anim12"><img src="images/reviews_logos/logo4.png" alt=""></div>
          <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 reviews_logo content_anim12"><img src="images/reviews_logos/logo5.png" alt=""></div>
          <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 reviews_logo content_anim12"><img src="images/reviews_logos/logo6.png" alt=""></div>
        </div>

      </div>
    </section>
    <!-- //Subsection: Newspapers -->


    <!-- Subsection: Screenshots -->
    <section id="screenshots" class="subsection">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-center content_anim15">
            <div class="intro">
              <h3>Brown Bag Presentations</h3>
              <p>Here are some presentations you can choose today.</p>
            </div>
          </div>
        </div>

        <div class="row screenshots_gallery">
          <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 content_anim16"><a href="images/screenshots/1.jpg" data-lightbox-gallery="gallery1">
          <img src="images/screenshots/1.jpg" class="shadow img_responsive" alt="" width="320"></a></div>

          <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 content_anim17"><a href="images/screenshots/2.jpg" data-lightbox-gallery="gallery1">
          <img src="images/screenshots/2.jpg" class="shadow img_responsive" alt="" width="320"></a></div>

          <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 content_anim18"><a href="images/screenshots/3.jpg" data-lightbox-gallery="gallery1">
          <img src="images/screenshots/3.jpg" class="shadow img_responsive" alt="" width="320"></a></div>

          <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 content_anim19"><a href="images/screenshots/4.jpg" data-lightbox-gallery="gallery1">
          <img src="images/screenshots/4.jpg" class="shadow img_responsive" alt="" width="320"></a></div>

          <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 content_anim20"><a href="images/screenshots/5.jpg" data-lightbox-gallery="gallery1">
          <img src="images/screenshots/5.jpg" class="shadow img_responsive" alt="" width="320"></a></div>

          <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 content_anim21"><a href="images/screenshots/6.jpg" data-lightbox-gallery="gallery1">
          <img src="images/screenshots/6.jpg" class="shadow img_responsive" alt="" width="320"></a></div>

          <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 content_anim22"><a href="images/screenshots/7.jpg" data-lightbox-gallery="gallery1">
          <img src="images/screenshots/7.jpg" class="shadow img_responsive" alt="" width="320"></a></div>

          <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 content_anim23"><a href="images/screenshots/8.jpg" data-lightbox-gallery="gallery1">
          <img src="images/screenshots/8.jpg" class="shadow img_responsive" alt="" width="320"></a></div>

          <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 content_anim24"><a href="images/screenshots/7.jpg" data-lightbox-gallery="gallery1">
          <img src="images/screenshots/9.jpg" class="shadow img_responsive" alt="" width="320"></a></div>

          <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 content_anim25"><a href="images/screenshots/10.jpg" data-lightbox-gallery="gallery1">
          <img src="images/screenshots/10.jpg" class="shadow img_responsive" alt="" width="320"></a></div>
        </div>

      </div>
    </section>
    <!-- //Subsection: Screenshots -->


    <!-- Subsection: Reviews -->
    <section id="reviews" class="subsection color_bg">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 content_anim26">
            <div class="owl-carousel align-center">


              <!-- Review 1 -->
              <div class="single_review">
                <img src="images/review_01.jpg" alt="" class="img-circle">
                <div class="review_content">
                  <h6>A husband and wife are trying to set up a new password for their computer. The husband puts, "Mypenis," and the wife falls on the ground laughing because on the screen it says, "Error. Not long enough."</h6>
                  <p>- Jenny McLane, Microsoft</p>
                </div>
              </div>
              <!-- //Review 1 -->


              <!-- Review 2 -->
              <div class="single_review">
                <img src="images/review_02.jpg" alt="" class="img-circle">
                <div class="review_content">
                  <h6>Do not be racist; be like Mario. He's an Italian plumber, who was made by the Japanese, speaks English, looks like a Mexican, jumps like a black man, and grabs coins like a Jew!</h6>
                  <p>- Jahn Kovalsky, Apple</p>
                </div>
              </div>
              <!-- //Review 2 -->


              <!-- Review 3 -->
              <div class="single_review">
                <img src="images/review_03.jpg" alt="" class="img-circle">
                <div class="review_content">
                  <h6>I decided to make my password "incorrect" because if I type it in wrong, my computer will remind me, "Your password is incorrect."</h6>
                  <p>- Meggie Patterson, Google</p>
                </div>
              </div>
              <!-- //Review 3 -->


              <!-- Review 4 -->
              <div class="single_review">
                <img src="images/review_04.jpg" alt="" class="img-circle">
                <div class="review_content">
                  <h6>A bank robber pulls out gun points it at the teller, and says, "Give me all the money or you're geography!" The puzzled teller replies, "Did you mean to say 'or you're history?'" The robber says, "Don't change the subject!"</h6>
                  <p>- Billy McDillon </p>
                </div>
              </div>
              <!-- //Review 4 -->


            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- //Subsection: Reviews -->


    <!-- Subsection: FAQ -->
    <section id="faq" class="subsection">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-center content_anim27">
            <div class="intro">
              <h3>Frequently Asked Questions</h3>
              <p>Got questions? We have answers.</p>
            </div>
          </div>
        </div>

        <div class="row align-left content_anim28">

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="iconbox content_anim1">
              <h5>How does the free trial work?</h5>
              <p>The first course is on us.  You pick a course or have your developers pick a course.  Our presentations include a survey, a lot of great developer interaction, and other ways to give us a feel for things your team may need.
                </p>
                <p>
                  We then have a conversation about what we've learned so far.  Typically teams do well when they have outside sources mixed with teams teaching themselves. This allows them to both expand their skill set and demonstrate their own proficiencies.  At this point we are happy to take payment for a course package and schedule your next meetup.
                </p>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="iconbox content_anim1">
              <h5>How does a typical presentation work?</h5>
              <p>You pick the topic and schedule with our team.  We'll then send you an invitation email that you can forward to your team. This includes a survey, some information about the presentation, and resources for anybody that might miss the presentation.</p>
              <p>On the day of the presentation, we have a presenter arrive a few minutes early. They will check in with you about the team's needs.  They will then setup in your presentation room. Typically we like to have a large presentation screen or projector. If the room is large, we'll want to have a mic and audio equipment as well.</p>
            </div>
          </div>

        </div>

        <div class="row align-left content_anim29">

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="iconbox content_anim1">
              <h5>Where do you present?</h5>
              <p>Right now, we only present along the Wasatch Front.</p>
              <p>We are looking for high quality data professionals in other areas that enjoy teaching and challenging developers.  If you know of people in your areas, please let us know. If they're interested we'll get them trained and get them the materials they need to present to your organization.</p>
              <p>We are also producing our content on Udemy for people to take the courses from their laptops.</p>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="iconbox content_anim1">
              <h5>Do I need to choose plan now?</h5>
              <p>No, you can have us come in and we'll have a better idea what to do after we've met your team.  As part of the course we gather a survey, talk to team members before, during, and after the presentation.  We usually have a pretty good idea what will work for your team after that experience.</p>
            </div>
          </div>

        </div>

        <div class="row align-left content_anim29">

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="iconbox content_anim1">
              <h5>Can I switch plans later?</h5>
              <p>You purchase courses up front and can use them as your schedule permits. Just contact us and we'll schedule your meetups.  We recommend that you schedule at least two weeks prior to the meeting so that your team has a chance to prepare.</p>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="iconbox content_anim1">
              <h5>Do you only teach data courses?</h5>
              <p>Right now we are focused on data science and how this impacts the company. So, building strong business cases, focusing on customers and product, learning how to build great platforms and models on those platforms are central to our wheelhouse.</p>
              <p>However, if you have some challenges you'd like to address, let us know and we'll let you know if we think we're appropriate presenters for that topic.</p>
            </div>
          </div>

        </div>

        <div class="row align-left content_anim29">

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="iconbox content_anim1">
              <h5>Can I switch plans later?</h5>
              <p>You purchase courses up front and can use them as your schedule permits. Just contact us and we'll schedule your meetups.  We recommend that you schedule at least two weeks prior to the meeting so that your team has a chance to prepare.</p>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="iconbox content_anim1">
              <h5>What if we would like an intensive training on a topic?</h5>
              <p>We are preparing deeper courses on things like AWS data pipelines to manage your data scaling issues, high availability systems to keep things running, deep learning to learn things like time series and behavior sequences, and several other topics.  These will be taught weekly in two-hour sessions over several weeks.</p>
              <p>If you'd like to get your team an intensive learning experience, let us know.</p>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- //Subsection: FAQ -->

    <!-- Subsection: CTA -->
    <section class="subsection darker_bg">
      <div class="container">
        <div class="row align-center">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>A very clear closing argument<br class="visible-lg visible-md">statement of your offer.</h3>
            <div><button class="btn waves-effect waves-light subscribe-submit">Cta button</button></div>
          </div>
        </div>
      </div>
    </section>
    <!-- //Subsection: CTA -->

    <!-- Footer -->
    <section id="footer" class="subsection color_bg">
        <div class="container" >
          <div class="row ">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 outher">
            <img src="images/logo.png" alt="logo" class="logo inner"/>
            <p class="inner">&copy; Copyright<time>2017</time> {{ site.author }}</p>
            <p class="float-right inner  visible-lg visible-md">Call us <strong>1.800.439.7656</strong></p>
            </div>
          </div>
      </div>
    </section>
    <!-- //Footer -->


  </div>
  <!-- //preloader -->

  <!-- JavaScript plugins comes here -->
    <script src="{{site.baseurl}}/js/jquery-2.1.3.min.js"></script>        <!-- jQuery -->
    <script src="{{site.baseurl}}/js/jquery.easing.min.js"></script>       <!-- jQuery easing -->
    <script src="{{site.baseurl}}/js/jquery.cycle.all.min.js"></script>    <!-- jQuery cycle -->
    <script src="{{site.baseurl}}/js/materialize.js"></script>           <!-- Materialize -->
    <script src="{{site.baseurl}}/js/classie.js"></script>                 <!-- Class helper function -->
  <script src="{{site.baseurl}}/js/pathLoader.js"></script>              <!-- Preloader Loading Animation -->
  <script src="{{site.baseurl}}/js/preloader.js"></script>               <!-- Preloader -->
    <script src="{{site.baseurl}}/js/retina.js"></script>                  <!-- Retina.js - support for HiDPI Displays -->
    <script src="{{site.baseurl}}/js/waypoints.min.js"></script>           <!-- Waypoints -->
    <script src="{{site.baseurl}}/js/nivo-lightbox.min.js"></script>       <!-- Lightbox/Modalbox -->
    <script src="{{site.baseurl}}/js/owl.carousel.js"></script>          <!-- Owl Carousel -->
    <script src="{{site.baseurl}}/js/main.js"></script>                    <!-- Main Js file -->

  </body>
</html>